{
  "plugins": [
    "transform-es2015-modules-systemjs",
    [
      "module-resolver",
      {
        "root": [
          "./client"
        ],
        "alias": {
          "view": "./views",
          "controller": "./controller",
          "socketController": "./ws_sockets/controllers"
        }
      }
    ]
  ]
}