<!DOCTYPE html>
<html lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Title Page</title>

        <!-- Bootstrap CSS -->
        <link href="../stylesheets/bootstrao4/bootstrap.min.css" rel="stylesheet">
        <!-- My CSS -->
        <link href="../stylesheets/style.css" rel="stylesheet">

    </head>

    <body>
        <h1 class="text-center">Hello People!</h1>

        <hr></hr>

        <div id="div-filters">

            <div id="filter-nat" class="input-group mb-3">
                <div class="input-group-prepend">
                  <label class="input-group-text" for="inputGroupSelect01">Options</label>
                </div>
                <select class="custom-select" id="inputGroupSelect01">
                  <option selected>Choose...</option>
                  <option value="1">One</option>
                  <option value="2">Two</option>
                  <option value="3">Three</option>
                </select>
              </div>    

        </div>

        <div id="show-peoples" class="">

        </div>

    </body>

    <script src="../js/jquery-3.3.1.min.js"></script>
    <script src="../stylesheets/bootstrao4/bootstrap.min.js"></script>
    <script src="../node_modules/systemjs/dist/system.js"></script>

    <script>
        SystemJS.import('../client/app.js').catch(err=>console.log(err));
    </script>

</html>